  

img {
  width: 100%;
  height: 250px;
  border-radius: 10%;
}
  
.gallery {
  display: flex;
  max-width: 1200px;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  list-style-type: none;
};

.gallery__list {    
     max-width: 500px;
    max-height: 500px; 
};


